{% extends "template.html" %}
{% block head %}
	{{ super() }}
	
{% endblock %}
{% block content %}
	<h1 class="text-center">404: Page not found</h1>
	<h2 class="text-center">Try going back to one of the main pages and try again</h2>
{% endblock %}