{% extends "template.html" %}
{% block head %}
	{{ super() }}
	<style>
		input {
			text-align: center;
		}
		.g-recaptcha {
			display: inline-block;
			margin-bottom: 10px;
		}
	</style>
	<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
{% endblock %}
{% block content %}
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1 class="text-center">Sign Up</h1>
				{% if error %}
					<p class="text-danger text-center">Error: That username is already taken, please choose a different one and try again</p>
				{% endif %}
				<form method="POST" action="">
					<div class="form-group">
						<h2 class="text-center">Username </h2>
						<input class="form-control input-lg" pattern="[0-9A-Za-z_]{3,20}" title="You must use between 3 and 20 legal characters (0-9,a-z,A-Z and _)" type="text" name="username" required>
					</div>
					<div class="form-group">
						<h2 class="text-center">Email</h2>
						<input class="form-control input-lg" type="email" name="email" maxlength="50" required>
					</div>
					<div class="form-group">
						<h2 class="text-center">Password</h2>
						<input class="form-control input-lg" type="password" name="password" pattern=".{6,}" title="The password must be longer than 6 characters" required>
					</div>
					<!--<div class="text-center">
						<div class="g-recaptcha" data-sitekey="6LemECQTAAAAAJFGoj8dzDxkGGZ3buk4rnogxLhH"></div>
					</div>-->
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
{% endblock %}